/* main style */

/* 전체초기화 */
* { margin: 0; padding: 0; }
li { list-style-type: none; }
a { text-decoration: none; color: #2e2e2e;}
body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #2e2e2e;
    font-size: 16px;
}

/* font */
@font-face {
    font-family:'Breton-Bold';
    src: url('../font/Breton-Bold.ttf');
  }

/* header */
#main_header {
    position: relative;
    width: 1200px; height: 100px;
    /* background-color: #ccc; */
    /* border: 1px solid red; */
    margin: 0 auto;
}

#main_header > #logo > a > img{
    width: 57px; height: 61px;
    margin-top: 20px;
}

/* gnb */
#main_header > #gnb {
    position: absolute;
    width: 662px; height: 34px;
    top: 34px; left: 298px;
    z-index: 1;
}
#main_header > #gnb > .depth1 { overflow: hidden; }
#main_header > #gnb > .depth1 > li { 
    float: left; 
    width: calc(100% / 5);
    text-align: center;
    padding-top: 5px;
}
#main_header > #gnb > .depth1 > li > a {
    padding-bottom: 5px;
}

    /* 2단계 메뉴 */
    #main_header > #gnb > .depth1 {
        background-color: #fff;
    }
    #main_header > #gnb .depth2 > li {
        /* border: 1px solid red; */
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #main_header > #gnb .depth2 > li:last-child {
        padding-bottom: 20px;
    }
    #main_header > #gnb .depth2 > li:first-child {
        padding-top: 37px;
    }
    #main_header > #gnb .depth2 {
        display: none;
    }
    #main_header > #gnb .depth2 > li > a {
        font-size: 14px;
        color: #999;
        transition-duration: 0.5s;
    }
    
/*gnb hover */
#main_header > #gnb > .depth1 > li > a:hover {
    border-bottom: 3px solid #873d3b;
}
#main_header > #gnb .depth2 > li > a:hover {
    color: #2e2e2e;
}

/* lnb */
#lnb {
    position: absolute;
    top: 37px; right: 0;
    /* width: 129px; height: 38px; */
}
#lnb > ul > li {
    float: left;
    margin-left: 11px;
}
#lnb > ul > li:first-child { margin-left: 0px; }
#lnb > ul > li > a > img {
    width: 26px; height: 26px;
}

/* visual */
#visual {
    width: 100%;
    margin: 0 auto;
    height: 550px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}
#visual > .slider_box {
    width: 1920px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}
#visual > .slider_box > .sliders {
    width: 5760px;
    height: 550px;
    margin-left: 0px;
}
#visual > .slider_box > .sliders > img {
    display: block;
    float: left;
}

/* slider pager */
.pager {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.pager > a {
    float: left;
    width: 15px; height: 15px;
    border-radius: 50%;
    margin: 5px;
    background: #fff;
}

.pager > .active {
    background: #2e2e2e;
    width: 35px; height: 15px;
    border-radius: 30px;
}

.controls > a {
    position: absolute;
}

.controls>.left {
    left: 360px;
    top: 50%;
    transform: translateY(-50%);
}

.controls>.right {
    right: 360px;
    top: 50%;
    transform: translateY(-50%);
}

/* 텍스트 슬라이드 */
#notice {
    width: 1202px;
    margin: 0 auto;
    margin-top: 550px;
}
#notice > .notice {
    position: relative;
    width: 600px; height: 50px;
    background-color: #2e2e2e;
    color: #fff;
    float: left;
    line-height: 50px;
}
#notice > .notice:first-child { border-right: 1px solid; }
#notice > .notice > .more_btn > a > img {
    width: 15px; height: 15px;
    position: absolute;
    top: 18px; right: 100px;
}
#notice > .notice > h3 {
    font-size: 16px;
    margin-left: 90px;
    margin-right: 10px;
}
#notice > .notice > .animated {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    height: 50px;
    overflow: hidden;
}
#notice > .notice > .animated > .ani_text > a {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}
  
#notice > .notice > .animated > .ani_text:first-child {
    animation: anim 20s infinite;
}
@keyframes anim {
    0%{
        margin-top : 0;
    }
    16%{
        margin-top : -50px;
    }
    33%{
        margin-top : -100px;
    }
    50%{
        margin-top : -150px;
    }
    66%{
        margin-top : -100px;
    }
    82%{
        margin-top : -50px;
    }
    100%{
        margin-top : 0;
    }
}

/* content */
.content {
    clear: both;
    position: relative;
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
}

/* choice */
#choice { position: relative; height: 648.08px;}
#choice > .content_line {
    height: 96.5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 64px;
}
#choice > .choice_title {
    position: absolute;
    top: 68px; left: 375.5px;
    width: 454px; height: 54px;
    background-color: #fff;
    text-align: center;
}
#choice > .choice_title > p {
    font-size: 40px;
    font-family: 'Breton-Bold';
}
#choice > #choice_menu > .choice_menu {
    width: 270px; height: 421px;
    margin-right: 40px;
    float: left;
}
#choice > #choice_menu > .choice_menu:last-child { margin-right: 0px; }
#choice > #choice_menu > .choice_menu > .choice_menu_name {
    text-align: center;
    margin-bottom: 18px;
}
#choice > #choice_menu > .choice_menu > .choice_menu_name > h3 {
    font-size: 19px;
}
#choice > #choice_menu > .choice_menu > .choice_menu_name > p {
    font-size: 12px;
}
#choice > #choice_menu > .choice_menu > .choice_img {
    width: 270px; height: 355px;
    border-radius: 30px;
    overflow: hidden;
}
#choice > #choice_menu > .choice_menu > .choice_img:hover > a > img {
    transform: scale(1.05);
    transition-duration: 0.7s;
}

/* membership */
#membership {
    position: relative;
    height: 300px;
    background: #F7F7F7;
}
#membership > .membership {
    width: 912.35px; height: 230px;
    margin-left: 144px;
     padding-top: 35px;
}
#membership > .membership > img {
    width: 230px; height: 230px;
    border-radius: 50%;
    float: left;
    margin-right: 103.4px;
}
#membership > .membership > .membership_text {
    margin-top: 7px;

}
#membership > .membership > .membership_text > h3 {
    font-size: 30px;
    margin-bottom: 7px;
}
#membership > .membership > .membership_text > .membership_text1 {
    font-size: 15px;
}
.membership_line { 
    position: absolute;
    width: 574px;
    border-bottom: 1px solid #707070; 
    top: 145.5px; left: 477.9px;
}
#membership > .membership > .membership_text > .membership_text2 {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
}
#membership > .membership .membership_btn {
    display: inline-block;
    width: 118px; height: 31px;
    background-color: #2e2e2e;
    border-radius: 5px;
    text-align: center;
    line-height: 26px;
    color: #fff;
}
#membership > .membership .membership_btn > span {
    font-size: 13px;
}
#membership > .membership .membership_btn:hover {
    background-color: #873d3b;
    transition-duration: 1s;
}

/* new menu */
#new_menu { position: relative; height: 648.08px;}
#new_menu > .content_line {
    height: 96.5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 64px;
}
#new_menu > .new_menu_title {
    position: absolute;
    top: 68px; left: 377px;
    width: 486px; height: 54px;
    background-color: #fff;
    text-align: center;
}
#new_menu > .new_menu_title > p {
    font-size: 40px;
    font-family: 'Breton-Bold';
}
#new_menu > #new_menu_list > .new_menu_list {
    width: 365px; height: 438px;
    margin-right: 52px;
    float: left;
}
#new_menu > #new_menu_list > .new_menu_list:last-child { margin-right: 0px; }
#new_menu > #new_menu_list > .new_menu_list > .new_menu_name {
    text-align: center;
    padding-bottom: 17px;
}
#new_menu > #new_menu_list > .new_menu_list > .new_menu_name > h3 {
    font-size: 23px;
}
#new_menu > #new_menu_list > .new_menu_list > .new_menu_name > p {
    font-size: 15px;
}
#new_menu_list > .new_menu_list > .nwe_img {
    width: 365px; height: 365px;
    border-radius: 30px;
    overflow: hidden;
}
#new_menu_list > .new_menu_list img {
    width: 365px; height: 365px;
    border-radius: 30px;
}
#new_menu_list > .new_menu_list > .nwe_img:hover > a > img {
    transform: scale(1.05);
    transition-duration: 0.7s;
}

/* coffee lab */
#coffee_lab { position: relative; height: 1430px;}
#coffee_lab > .content_line {
    height: 96.5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 64px;
}
#coffee_lab > .coffee_lab_title {
    position: absolute;
    top: 68px; left: 418.5px;
    width: 402px; height: 77px;
    background-color: #fff;
    text-align: center;
}
#coffee_lab > .coffee_lab_title > p {
    font-size: 40px;
    font-family: 'Breton-Bold';
}
#coffee_lab > .coffee_lab_title > span {
    font-size: 14px;
}

/* coffee_lab_img */
#coffee_lab > .coffee_lab_img {
    height: 730px;
    padding-top: 82px;
}
#coffee_lab > .coffee_lab_img > .coffee_lab_img2 {
    width: 647px; height: 647px;
    overflow: hidden;
}
#coffee_lab > .coffee_lab_img > .coffee_lab_img1 {
    position: absolute;
    top: 295px; right: 0;
    z-index: -999;
}
#coffee_lab > .coffee_lab_img > .coffee_lab_img2 > .text {
    position: absolute;
    top: 294px; left: 48px;
    width: 551px; height: 551px;
    border-left: 5px solid  rgba(255, 255, 255, 0.7);
    border-right: 5px solid rgba(255, 255, 255, 0.7);
    border-bottom: 5px solid  rgba(255, 255, 255, 0.7);
    color: #fff;
    text-align: center;
}
#coffee_lab > .coffee_lab_img > .coffee_lab_img2 > .text > .text_bg > h3 {
    position: absolute;
    top: -20px; left: 28%; 
    font-family:'Breton-Bold';
    font-size: 40px;
    line-height: 40px;
}
.top_line1 {
    width: 120px;
    border-top: 5px solid rgba(255, 255, 255, 0.7);
    float: left;
}
.top_line2 {
    width: 120px;
    margin-left: 432px;
    border-top: 5px solid rgba(255, 255, 255, 0.7);
}
#coffee_lab > .coffee_lab_img > .coffee_lab_img2 > .text > p {
    position: absolute;
    bottom: 20px; left: 20px;
    font-size: 30px;
    text-align: left;
}

/* franchise_store */
#franchise_store { 
    position: relative; 
    width: 1200px; height: 280px;
    margin-top: 85px;
}
#franchise_store > .franchise_text {
    width: 207px; height: 220px;
    position: absolute;
    top: 30px; left: 40px;
}
#franchise_store > .franchise_text > h3 {
    font-size: 30px;
    color: #fff;
}
#franchise_store > .franchise_text > .franchise_line {
    width: 70px; height: 22.5px;
    border-bottom: 1px solid #fff;
    margin-bottom: 27.5px;
}
#franchise_store > .franchise_text > p {
    font-size: 15px;
    color: #fff;
    margin-bottom: 72px;
}
#franchise_store > .franchise_text > .franchise_btn {
    display: inline-block;
    width: 118px; height: 31px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 26px;
}
#franchise_store > .franchise_text > .franchise_btn > span {
    font-size: 13px;
}
#franchise_store > .store_text {
    width: 348px; height: 220px;
    position: absolute;
    top: 30px; left: 650px;
}
#franchise_store > .store_text > h3 {
    font-size: 30px;
    color: #fff;
}
#franchise_store > .store_text > .store_line {
    width: 70px; height: 22.5px;
    border-bottom: 1px solid #fff;
    margin-bottom: 27.5px;
}
#franchise_store > .store_text > p {
    font-size: 15px;
    color: #fff;
    margin-bottom: 28px;
}
#franchise_store > .store_text > .store_btn {
    display: inline-block;
    width: 118px; height: 31px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 26px;
}
#franchise_store > .store_text > .store_btn > span {
    font-size: 13px;
}

/* sns */
#gallery { position: relative; height: 750px;}
#gallery > .content_line {
    height: 96.5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 64px;
}
#gallery > .gallery_title {
    position: absolute;
    top: 68px; left: 457px;
    width: 326px; height: 73px;
    background-color: #fff;
    text-align: center;
}
#gallery > .gallery_title > p {
    font-size: 40px;
    font-family: 'Breton-Bold';
}
#gallery > .gallery_title > span {
    font-size: 14px;
}
#gallery > .gallery_sns { padding-top: 47px; }
#gallery > .gallery_sns a > img {
    position: relative;
    width: 200px; height: 200px;
    padding: 0; margin: 0;
    display: block;
    float: left;
}
/* sns img overflow box size */
#gallery > .gallery_sns > .sns_zoom1,
#gallery > .gallery_sns > .sns_zoom2,
#gallery > .gallery_sns > .sns_zoom3,
#gallery > .gallery_sns > .sns_zoom4,
#gallery > .gallery_sns > .sns_zoom5,
#gallery > .gallery_sns > .sns_zoom6,
#gallery > .gallery_sns > .sns_zoom7,
#gallery > .gallery_sns > .sns_zoom8,
#gallery > .gallery_sns > .sns_zoom9,
#gallery > .gallery_sns > .sns_zoom10,
#gallery > .gallery_sns > .sns_zoom11,
#gallery > .gallery_sns > .sns_zoom12 {
    width: 200px; height: 200px;
    overflow: hidden;
    float: left;
}
/* sns img 전체 zoom hover */
#gallery > .gallery_sns > .sns_zoom1:hover > a > img,
#gallery > .gallery_sns > .sns_zoom2:hover > a > img,
#gallery > .gallery_sns > .sns_zoom3:hover > a > img,
#gallery > .gallery_sns > .sns_zoom4:hover > a > img,
#gallery > .gallery_sns > .sns_zoom5:hover > a > img,
#gallery > .gallery_sns > .sns_zoom6:hover > a > img,
#gallery > .gallery_sns > .sns_zoom7:hover > a > img,
#gallery > .gallery_sns > .sns_zoom8:hover > a > img,
#gallery > .gallery_sns > .sns_zoom9:hover > a > img,
#gallery > .gallery_sns > .sns_zoom10:hover > a > img,
#gallery > .gallery_sns > .sns_zoom11:hover > a > img,
#gallery > .gallery_sns > .sns_zoom12:hover > a > img {
    transform: scale(1.05);
    transition-duration: 0.7s;
}

/* sns_text 전체 텍스트 위치 */
#sns_text1 {
    position: absolute;
    top: 208.5px; left: 0px;
    width: 200px; height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
}
#sns_text2 {
    position: absolute;
    top: 208.5px; left: 200px;
    width: 200px; height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
}
#sns_text3 {
    position: absolute;
    top: 208.5px; left: 400px;
    width: 200px; height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
}
#sns_text4 {
    position: absolute;
    top: 208.5px; left: 600px;
    width: 200px; height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
}
#sns_text5 {
    position: absolute;
    top: 208.5px; left: 800px;
    width: 200px; height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
}
#sns_text6 {
    position: absolute;
    top: 208.5px; left: 1000px;
    width: 200px; height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
}
#sns_text7 {
    position: absolute;
    top: 408.5px; left: 0px;
    width: 200px; height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
}
#sns_text8 {
    position: absolute;
    top: 408.5px; left: 200px;
    width: 200px; height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
}
#sns_text9 {
    position: absolute;
    top: 408.5px; left: 400px;
    width: 200px; height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
}
#sns_text10 {
    position: absolute;
    top: 408.5px; left: 600px;
    width: 200px; height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
}
#sns_text11 {
    position: absolute;
    top: 408.5px; left: 800px;
    width: 200px; height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
}
#sns_text12 {
    position: absolute;
    top: 408.5px; left: 1000px;
    width: 200px; height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
}

/* sns_text 전체 텍스트 css */
.hover > .hover_text img {
    float: left;
    display: block;
    margin-left: 26px;
    margin-top: 85px;
}
.hover > .hover_text p {
    float: left;
    color: #fff;
    margin-top: 85px;
}

/* sns_text 전체 텍스트 숨김 */
.hover {
    display: none;
}

/* sns_text 전체 텍스트 hover */
#gallery > .gallery_sns > .sns_zoom1:hover #sns_text1,
#gallery > .gallery_sns > .sns_zoom2:hover #sns_text2,
#gallery > .gallery_sns > .sns_zoom3:hover #sns_text3,
#gallery > .gallery_sns > .sns_zoom4:hover #sns_text4,
#gallery > .gallery_sns > .sns_zoom5:hover #sns_text5,
#gallery > .gallery_sns > .sns_zoom6:hover #sns_text6,
#gallery > .gallery_sns > .sns_zoom7:hover #sns_text7,
#gallery > .gallery_sns > .sns_zoom8:hover #sns_text8,
#gallery > .gallery_sns > .sns_zoom9:hover #sns_text9,
#gallery > .gallery_sns > .sns_zoom10:hover #sns_text10,
#gallery > .gallery_sns > .sns_zoom11:hover #sns_text11,
#gallery > .gallery_sns > .sns_zoom12:hover #sns_text12 {
    display: block;
}

/* footer */
#main_footer {
    clear: both;
    overflow: hidden;
    height: 200px;
    background-color: #2e2e2e;
}

#main_footer  > .main_footer {
    position: relative;
    width: 1200px; height: 200px;
    background-color: #2e2e2e;
    margin: 0 auto;
}

#main_footer  > .main_footer > #footer_logo {
    position: absolute;
    width: 135px; height: 93px;
    left: 0; top: 49.5px;
    /* padding-top: 49.5px; */
}

#main_footer  > .main_footer > #footer_logo img {
    width: 135px; height: 93px;
    opacity: 0.6;
}

#main_footer  > .main_footer > .footer_line1 {
    position: absolute;
    top: 58.5px; left: 280.1px;
    width: 145px; height: 64px;
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    opacity: 0.3;
}
#main_footer  > .main_footer > .footer_text {
    position: absolute;
    top: 46px; left: 446px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 12px;
}
#main_footer  > .main_footer > .footer_text span { color: #fff; }
#main_footer  > .main_footer > .footer_line2 {
    position: absolute;
    top: 58.5px; right: 240.6px; 
    width: 105px; height: 64px;
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    opacity: 0.3;
    
}
#main_footer  > .main_footer > .footer_sns {
    position: absolute;
    top: 76px; right: 0;
    opacity: 0.7;
}
#main_footer  > .main_footer > .footer_sns > a > img {
    margin-left: 15px;
}